html, body{
    height: 100svh;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
