html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.mainContainer{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-rows: 0.01fr;
    place-items: center;
}
