.homeDivClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendarDivClass{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    perspective: 1000px;
}
.homeDivClass canvas{
    background-color: rgb(132, 174, 230);
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: transform 2s ease-in-out, background-color 2s ease-in-out;
    transform-style: preserve-3d;
}
.homeDivClass canvas.flip{
    transform: rotateY(180deg);
}

/* For mobile phones (up to 600px wide): */
@media only screen and (max-width: 600px) {
    /* Your mobile-specific styles go here */
    /* For example: */
    .calendarDivClass{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
