body {
    margin: 0;
    padding: 0;
    background-color: rgba(184, 163, 144, 0.541);
    overflow: hidden;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #125e47;
    height: 100svh;
    width: 100svw;
}
.canvasDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ButtonsDiv{
    display: inline-block;
    margin: 10px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 150px;
}
#save, #discard, #reload{
    height: 50px;
    width: 50px;
    font-size: large;
    border-radius: 10px;
    background-color: #a8dff5;
    border: none;
}
#carsNumber {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: large;
}
#save:hover, #discard:hover, #reload:hover{
    background-color: green;
    transform: translateY(-2px);
    cursor: pointer;
}
#discard:active, #save:active, #reload:active{
    background-color: #a8dff5;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    #save, #discard, #reload{
        background-color: rgba(168, 223, 245, 0.2);
    }
    #carsNumber{
        background-color: rgba(255, 255, 255, 0.5);
    }
}