html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(184, 163, 144, 0.541);
    overflow: hidden;
}

.mainContainer{
    margin: auto;
    padding: 0;
    background-color: rgba(0, 128, 0, 0.267);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.rightDiv{
    background-color: rgba(255, 255, 255, 0);
    width: 45%;
    height: 100%;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.carCanvasDiv{
    background-color: grey;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#carCanvas{
    width: 400px;
    height: 100%;
}

.networkCanvasDiv{
width: 98%;
height: 80%;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}

#networkCanvas{
    width: 500px;
    height: 90%;
}
@media only screen and (max-width: 600px) {
    #networkCanvas {
      width: 90%; /* full width on mobile */
      height: 90%; /* smaller height on mobile */
    }
    #carCanvas{
        width: 90%;
        height: 100%;
    }
    
  }

.verticalButtons{
width: 98%;
height: 15%;
order: 1;
display: flex;
align-items: center;
justify-content: space-around;
}
#save, #discard{
    border-radius: 10%;
    font-size: 4vb;
    background-color: rgba(255, 255, 255, 0.678)
}
#save:hover{
    background-color: greenyellow;
}

#discard:hover{
    background-color: brown;
}
