body{
    margin: 0;
    background: goldenrod;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 5px;
    cursor: pointer;
}

#save{
    color:green;
}

#discard{
    color:red;
}

#save:hover{
    background-color: greenyellow;
}

#discard:hover{
    background-color: brown;
}

#carCanvas{
    background: grey;
}

#networkCanvas{
    background: black;
}