html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(184, 163, 144, 0.541);
    overflow: hidden;
}

.mainContainer{
    background-color: rgba(15, 150, 75, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    gap: 5px;
}

.rightDiv{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.carCanvasDiv{
    background-color: rgba(15, 150, 75, 0.795);
}

.networkCanvasDiv{
display: flex;
flex-direction: column;
justify-content: center;
}
#networkCanvas{
    background-color: black;
    border-radius: 10px;
    order: 2;
}
#miniMapCanvas{
    background-color: rgb(56, 129, 66);
    border-radius: 10px;
}

.verticalButtons{
    order:1;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#save , #discard{
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border:none;
}
#save:active{
    background-color: greenyellow;
    cursor: pointer;
}

#discard:active{
    background-color: brown;
    cursor: pointer;
}
#save:hover{
    cursor: pointer;
}

#discard:hover{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .mainContainer{
        flex-direction: column;
    }
    .networkCanvasDiv{
        flex-direction: row;
        gap: 10px;
    }
    .verticalButtons{
        position: fixed;
        top: 5px;
        left: 5px;
    }
}